
-# Binaries for programs and plugins
-*.exe
-*.dll
-*.so
-*.dylib
-
-# Test binary, build with `go test -c`
-*.test
-
-# Output of the go coverage tool, specifically when used with LiteIDE
-*.out
-
-# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
-.glide/
.idea
testdata/
dist/
.DS_Store
f
pact-go
./pact-go
pact/
.serverport
internal/app/pacts/myconsumer-myprovider.json
internal/app/configuration/test_*.key
internal/app/configuration/test_*.pem

# logs
*.log


# Visual Studio Code
.vscode/
debug.test

build/
*.swp
tags
*.vim
internal/app/logs
